@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
  background-color: antiquewhite;
  padding: 20px;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  height: fit-content;
}
.loader {
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.content span {
  display: block;
  min-height: 110px;
}
.container textarea,
.container textarea:focus {
  background-color: #202124;
  color: #87c6ff;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
